
	
	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
    <div class="container">
    <div class="card">
        <div class="card-header bg-primary text-center">
            <h1>Shipment Data </h1>
    </div>    
    <div class="card-body">
        <table class="table table-striped table-dark table-hover">
            <thead>
                <tr>
      
         <th>Shipment Id </th>
         <th>Shipment Mode</th>
         <th>Shipment Code</th>
         
         <th>Enable Shipment</th>
         <th>Shipment Grade</th>
        <th>Order Code</th>
        
         <th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="shp:${shipment}">
<td th:text="${shp.shpmnt_Id}"></td>
<td th:text="${shp.shpmnt_Mode}"></td>

<td th:text="${shp.shpmnt_Code}"></td>
<td th:text="${shp.enable_Shpmnt}"></td>
<td th:text="${shp.shpmnt_Grade}"></td>
<td th:text="${shp.shpmnt_Descrp}"></td>

</tr>
      
</tbody>
           
        </table>
    </div>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${pag.hasPrevious()}"class="page-item"><a class="page-link" th:href="@{/ship/all(page=${pag.number-1})}">Previous</a></li>
   <th:block th:each="i,ac:${#numbers.sequence(0,pag.totalPages-1)}">
    <li th:class="${ac.index==pag.number?'page-item active':'page-item'}"><a class="page-link" th:href="@{/ship/all(page=${i})}">[[${i+1}]]</a></li>
   
   </th:block>
     <li th:if="${pag.hasNext()}" class="page-item"><a class="page-link" th:href="@{/ship/all(page=${pag.number+1})}">Next</a></li>
  </ul>
</nav>
    </div>
    </div>
</body>
</html>