
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h1>Uom  Data Page</h1>
			</div>
			<hr/>
				<form action="all" method="get">
				<div class="row">
				<div class="col-3">
				
				<input type="text" name="uom_Model" placeholder="enter model here" class="form-control">
				</div>
				<div class="col-2">
				<input type="submit" value="Search" class=" btn btn-info form-control">
				</div>
				</div>
				</form>

			<div class="card-body">
				<table class="table table-striped table-dark table-hover">
					<thead>
						<tr>

							<th>ID</th>
							<th>uom_Type</th>
							<th>uom_Model</th>
							<th>uom_Decrp</th>
							
							<th colspan="2">Operations</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="uom:${uomlist}">
							<!--- -->
							<td th:text="${uom.uom_Id}"></td>
							<td th:text="${uom.uom_Type}"></td>
							<td th:text="${uom.uom_Model}"></td>
								<td th:text="${uom.uom_Decrp}"></td>
							<td><a
								th:href="@{/uom/delete?id={data} (data=${uom.uom_Id})}"
								class="btn btn-info">Delete</a>&nbsp;
								<a
								th:href="@{/uom/edit?id={data} (data=${uom.uom_Id})}"
								class="btn btn-info">Edit</a>
								
								</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="card-footer bg-white">
				<span class=" bg-primary text-white text-center"></span>
			</div>
			<nav aria-label="Page navigation example">
  <ul class="pagination" >
   <li th:if="${page.hasPrevious()}"class="page-item"><a class="page-link" th:href="@{/uom/all(page=${page.number-1})}">Previous</a></li>
    
  <th:block th:each="i,ac:${#numbers.sequence(0,page.totalPages-1)}">
   <li th:class="${ac.index==page.number?'page-item active':'page-item'}">
   <a class="page-link" th:href="@{/uom/all?page={data}(data=${i})}">[[${i+1}]]
   </a>
   </li>
   
    </th:block>
     <li  th:if="${page.hasNext()}" class="page-item"><a class="page-link" th:href="@{/uom/all(page=${page.number+1})}">Next</a></li>
  </ul>
</nav>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</body>

</html>
